body {
    margin: 0px;
    background: #C0C0C0;
}

.centered {
    margin-right: auto;
    margin-left: auto;
}

.viewport {
    width: 768px;
    height: 1024px;
    background: #B0B0B0;
    padding: 10px;
}

.title {
    font : bold 17px Helvetica;
    text-align: center;
    padding: 10px;
}

table.DataTable {
    background : #fff;
    border : 1px solid #B4B4B4;
    font : bold 17px Helvetica;
    padding : 0;
    color : #666;
    margin-top: 20px;
    vertical-align : middle;
    text-align : center;
    -webkit-border-radius : 8px;
}
table.DataTable td {
    padding : 8px 10px 8px 10px;
}
table.DataTable th {
    color : black;
    padding : 8px 10px 8px 10px;
}
